<h1><%= @cocktail.name %></h1>

<% @cocktail.doses.each do |dose| %>
  <%= dose.ingredient.name %>
  <%= dose.description %>
<% end %>

<%= link_to "Create a dose", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Home", cocktails_path %>